//! **************************************************************************
// Written by: Map P.20131013 on Sat Feb 18 19:11:46 2023
//! **************************************************************************

SCHEMATIC START;
COMP "ear" LOCATE = SITE "A3" LEVEL 1;
COMP "led" LOCATE = SITE "H14" LEVEL 1;
COMP "b<0>" LOCATE = SITE "B1" LEVEL 1;
COMP "b<1>" LOCATE = SITE "C2" LEVEL 1;
COMP "b<2>" LOCATE = SITE "H1" LEVEL 1;
COMP "g<0>" LOCATE = SITE "F4" LEVEL 1;
COMP "g<1>" LOCATE = SITE "F3" LEVEL 1;
COMP "g<2>" LOCATE = SITE "G3" LEVEL 1;
COMP "r<0>" LOCATE = SITE "H4" LEVEL 1;
COMP "r<1>" LOCATE = SITE "H3" LEVEL 1;
COMP "r<2>" LOCATE = SITE "H5" LEVEL 1;
COMP "dataps2" LOCATE = SITE "J3" LEVEL 1;
COMP "hsync" LOCATE = SITE "B10" LEVEL 1;
COMP "joyup" LOCATE = SITE "R14" LEVEL 1;
COMP "vsync" LOCATE = SITE "A11" LEVEL 1;
COMP "sd_cs_n" LOCATE = SITE "L1" LEVEL 1;
COMP "sd_miso" LOCATE = SITE "J1" LEVEL 1;
COMP "sd_mosi" LOCATE = SITE "K2" LEVEL 1;
COMP "joyleft" LOCATE = SITE "R15" LEVEL 1;
COMP "joydown" LOCATE = SITE "T14" LEVEL 1;
COMP "sram_addr<0>" LOCATE = SITE "M2" LEVEL 1;
COMP "sram_addr<1>" LOCATE = SITE "M1" LEVEL 1;
COMP "sram_addr<2>" LOCATE = SITE "N1" LEVEL 1;
COMP "sram_addr<3>" LOCATE = SITE "P2" LEVEL 1;
COMP "sram_addr<4>" LOCATE = SITE "P1" LEVEL 1;
COMP "sram_addr<5>" LOCATE = SITE "L3" LEVEL 1;
COMP "sram_addr<6>" LOCATE = SITE "M4" LEVEL 1;
COMP "sram_addr<7>" LOCATE = SITE "M3" LEVEL 1;
COMP "sram_addr<8>" LOCATE = SITE "N4" LEVEL 1;
COMP "sram_addr<9>" LOCATE = SITE "N3" LEVEL 1;
COMP "sram_data<0>" LOCATE = SITE "J6" LEVEL 1;
COMP "sram_data<1>" LOCATE = SITE "L5" LEVEL 1;
COMP "sram_data<2>" LOCATE = SITE "K5" LEVEL 1;
COMP "sram_data<3>" LOCATE = SITE "M6" LEVEL 1;
COMP "sram_data<4>" LOCATE = SITE "P4" LEVEL 1;
COMP "sram_data<5>" LOCATE = SITE "R3" LEVEL 1;
COMP "sram_data<6>" LOCATE = SITE "T4" LEVEL 1;
COMP "sram_data<7>" LOCATE = SITE "N6" LEVEL 1;
COMP "audio_out_left" LOCATE = SITE "B2" LEVEL 1;
COMP "clk50mhz" LOCATE = SITE "T8" LEVEL 1;
COMP "clkps2" LOCATE = SITE "K3" LEVEL 1;
COMP "sd_clk" LOCATE = SITE "K1" LEVEL 1;
COMP "sram_we_n" LOCATE = SITE "M5" LEVEL 1;
COMP "ram_oe_n" LOCATE = SITE "E1" LEVEL 1;
COMP "joyfire1" LOCATE = SITE "P11" LEVEL 1;
COMP "joyfire2" LOCATE = SITE "P15" LEVEL 1;
COMP "joyright" LOCATE = SITE "P16" LEVEL 1;
COMP "sram_addr<10>" LOCATE = SITE "C4" LEVEL 1;
COMP "sram_addr<11>" LOCATE = SITE "C3" LEVEL 1;
COMP "sram_addr<12>" LOCATE = SITE "D3" LEVEL 1;
COMP "sram_addr<13>" LOCATE = SITE "E4" LEVEL 1;
COMP "sram_addr<14>" LOCATE = SITE "E3" LEVEL 1;
COMP "sram_addr<15>" LOCATE = SITE "F2" LEVEL 1;
COMP "sram_addr<16>" LOCATE = SITE "F1" LEVEL 1;
COMP "sram_addr<17>" LOCATE = SITE "G1" LEVEL 1;
COMP "sram_addr<18>" LOCATE = SITE "H2" LEVEL 1;
COMP "ram_ce_n_o0" LOCATE = SITE "R2" LEVEL 1;
COMP "ram_ce_n_o1" LOCATE = SITE "R1" LEVEL 1;
COMP "ram_ce_n_o2" LOCATE = SITE "M10" LEVEL 1;
COMP "ram_ce_n_o3" LOCATE = SITE "B3" LEVEL 1;
COMP "audio_out_right" LOCATE = SITE "A2" LEVEL 1;
NET "ck16" PERIOD = 62.5 ns HIGH 50%;
NET "ck32" PERIOD = 31.25 ns HIGH 50%;
NET "la_maquina/clk_for_crtc" PERIOD = 1000 ns HIGH 50%;
NET "la_maquina/clk_cpu" PERIOD = 250 ns HIGH 50%;
SCHEMATIC END;

